/nbproject/private/
/build/
/dist/
/.env
/plugins/
/project/.vscode/
/project/nbproject/private/
/project/build/
/project/dist/
/project/data/
/project/.env
/project/plugins/
/project/tmp/
/jvm
/.dockertmp
/tmp
/PctrPlugin/nbproject/private/
/PctrPlugin/dist/
/PctrPlugin/build/
